workflows/01-daily-topic-discovery.json
{
  "name": "YouTube Automation - 01 Daily Topic Discovery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Daily 6AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "v1", "name": "videosPerDay", "value": "={{ $vars.VIDEOS_PER_DAY || 20 }}", "type": "number" },
            { "id": "v2", "name": "niche", "value": "={{ $vars.CHANNEL_NICHE || 'AI Workflow & Automation for Business - Make.com n8n Zapier no-code tutorials' }}", "type": "string" },
            { "id": "v3", "name": "sheetId", "value": "={{ $vars.GOOGLE_SHEETS_DOCUMENT_ID }}", "type": "string" },
            { "id": "v4", "name": "queueTab", "value": "={{ $vars.GOOGLE_SHEETS_QUEUE_TAB || 'Queue' }}", "type": "string" },
            { "id": "v5", "name": "openaiModel", "value": "={{ $vars.OPENAI_MODEL || 'gpt-4o' }}", "type": "string" },
            { "id": "v6", "name": "runId", "value": "={{ $now.toISO() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Load Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.reddit.com/r/n8n/hot.json?limit=25",
        "options": { "response": { "response": { "responseFormat": "json" } } },
        "headerParameters": { "parameters": [{ "name": "User-Agent", "value": "n8n-youtube-automation/1.0" }] }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Fetch Reddit n8n",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 180],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://news.google.com/rss/search?q=make.com+n8n+zapier+AI+automation+workflow&hl=en-US&gl=US&ceid=US:en",
        "options": { "response": { "response": { "responseFormat": "text" } } }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Fetch Google News RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 420],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Load Config').first().json;\nconst reddit = $('Fetch Reddit n8n').first().json;\nconst newsXml = $('Fetch Google News RSS').first().json?.data || '';\n\nconst redditTopics = [];\ntry {\n  const posts = reddit?.data?.children || [];\n  for (const p of posts) {\n    const title = p?.data?.title;\n    if (title && title.length > 15) {\n      const clean = title.replace(/\\[.*?\\]/g, '').trim();\n      redditTopics.push({ topic: clean, source: 'reddit_n8n', score: p.data.ups || 0 });\n    }\n  }\n} catch (e) {}\n\nconst newsTopics = [];\nconst titleRegex = /<title><!\\[CDATA\\[(.*?)\\]\\]><\\/title>/g;\nlet m;\nwhile ((m = titleRegex.exec(newsXml)) !== null) {\n  const t = m[1];\n  if (t && !t.includes('Google News') && t.length > 20) {\n    newsTopics.push({ topic: t.trim(), source: 'news', score: 50 });\n  }\n}\n\nconst seedTopics = [\n  { topic: 'How to automate email follow-ups with Make.com', source: 'seed', score: 80 },\n  { topic: 'n8n beginner workflow: connect ChatGPT to Google Sheets', source: 'seed', score: 79 },\n  { topic: 'Make.com vs Zapier for small business in 2026', source: 'seed', score: 78 },\n  { topic: 'Best no-code AI automation tools ranked', source: 'seed', score: 77 },\n  { topic: 'Automate client onboarding without coding', source: 'seed', score: 76 }\n];\n\nconst combined = [...redditTopics, ...newsTopics, ...seedTopics].sort((a, b) => b.score - a.score).slice(0, 40);\nreturn [{ json: { ...config, rawTopics: combined, rawCount: combined.length } }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Merge Topic Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $json.openaiModel }}\",\n  \"temperature\": 0.8,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a YouTube trend researcher for English faceless channels in AI workflow automation (Make.com, n8n, Zapier, no-code, AI agents for business). Pick searchable tutorial topics with high affiliate potential. Return JSON: { \\\"topics\\\": [{ \\\"topic\\\": string, \\\"angle\\\": string, \\\"priority\\\": 1-10, \\\"format\\\": \\\"tutorial|comparison|top_list|short_tip\\\" }] }\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Niche: {{ $json.niche }}\\nPick exactly {{ $json.videosPerDay }} unique topics. Prefer titles like How to..., Best..., X vs Y, Automate... with Make/n8n/Zapier. No stories, horror, true crime, or get-rich-quick. Avoid duplicates.\\n\\nSources:\\n{{ JSON.stringify($json.rawTopics) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "OpenAI Curate Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "credentials": { "httpHeaderAuth": { "id": "OPENAI_HEADER_AUTH", "name": "OpenAI API Key" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const config = $('Merge Topic Sources').first().json;\nconst ai = $input.first().json;\nlet topics = [];\ntry {\n  const content = ai.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  topics = parsed.topics || parsed;\n} catch (e) {\n  throw new Error('Failed to parse OpenAI topic response: ' + e.message);\n}\nif (!Array.isArray(topics)) topics = [topics];\nconst { randomUUID } = require('crypto');\nconst now = new Date();\nconst delayMinutes = 72;\nconst queueItems = topics.slice(0, config.videosPerDay).map((t, i) => {\n  const scheduled = new Date(now.getTime() + i * delayMinutes * 60 * 1000);\n  return {\n    queue_id: randomUUID(),\n    status: 'pending',\n    topic: t.topic || t,\n    source: t.source || 'ai_generated',\n    priority: t.priority || (10 - i),\n    retry_count: 0,\n    scheduled_at: scheduled.toISOString(),\n    started_at: '',\n    completed_at: '',\n    error_message: ''\n  };\n});\nreturn queueItems.map(item => ({ json: item }));"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Build Queue Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $('Load Config').first().json.sheetId }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "={{ $('Load Config').first().json.queueTab }}", "mode": "name" },
        "columns": { "mappingMode": "autoMapInputData", "value": {} },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Write Queue to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_OAUTH", "name": "Google Sheets OAuth" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $('Load Config').first().json.sheetId }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_LOGS_TAB || 'Logs' }}", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "log_id": "={{ $now.toMillis() + '-' + Math.random().toString(36).slice(2) }}",
            "timestamp": "={{ $now.toISO() }}",
            "level": "info",
            "workflow": "01-daily-topic-discovery",
            "message": "=Queued {{ $('Build Queue Items').all().length }} topics for production",
            "metadata_json": "={{ JSON.stringify({ runId: $('Load Config').first().json.runId }) }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Log Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_OAUTH", "name": "Google Sheets OAuth" } }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 560]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "={{ $vars.WORKFLOW_ERROR_HANDLER_ID }}", "mode": "id" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "01-daily-topic-discovery",
            "error_message": "={{ $json.execution.error.message }}",
            "node_name": "={{ $json.execution.lastNodeExecuted }}",
            "metadata_json": "={{ JSON.stringify($json.execution) }}"
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Call Error Handler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [220, 560]
    }
  ],
  "connections": {
    "Daily 6AM Trigger": { "main": [[{ "node": "Load Config", "type": "main", "index": 0 }]] },
    "Load Config": { "main": [[{ "node": "Fetch Reddit n8n", "type": "main", "index": 0 }, { "node": "Fetch Google News RSS", "type": "main", "index": 0 }]] },
    "Fetch Reddit n8n": { "main": [[{ "node": "Merge Topic Sources", "type": "main", "index": 0 }]] },
    "Fetch Google News RSS": { "main": [[{ "node": "Merge Topic Sources", "type": "main", "index": 0 }]] },
    "Merge Topic Sources": { "main": [[{ "node": "OpenAI Curate Topics", "type": "main", "index": 0 }]] },
    "OpenAI Curate Topics": { "main": [[{ "node": "Build Queue Items", "type": "main", "index": 0 }]] },
    "Build Queue Items": { "main": [[{ "node": "Write Queue to Sheets", "type": "main", "index": 0 }]] },
    "Write Queue to Sheets": { "main": [[{ "node": "Log Success", "type": "main", "index": 0 }]] },
    "On Workflow Error": { "main": [[{ "node": "Call Error Handler", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1", "timezone": "America/New_York" },
  "staticData": null,
  "tags": [{ "name": "youtube-automation" }],
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "youtube-automation-system" }
}
